{{>headerQuanLy}}
<div class="navbar quan-ly-mon-hoc">
  <div class="nav quan-ly-mon-hoc-1">
    <div class="col-sm-3 " >
        {{>menubar}}

    </div>
    <div class="col-sm-9 col-lg-9" style="background-color: white;">
      <div class="container mt-3">
        <h3>Quản lý môn học</h3>
        <br />
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#home">Môn
              Học</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#menu1">Danh Sách Môn
              Học</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div id="home" class="container tab-pane fade"><br />
            <h5>Thông tin Môn Học</h5>
              <form  action="" style="border: 1px solid black; padding: 10px;">
                <div class="row">
                   <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sel1">Khoa/ Viện:</label>
                      <select  class="form-control" id="ChonKhoa">
                          <option>Chọn khoa</option>
                      </select>
                    </div>

                  </div>
                   <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sel1">Chuyên ngành: </label>
                       <select class="form-control" id="ChonChuyenNganh">
                        </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sel1">Tên môn học: </label>
                        <input type="text" name="TenMonHoc" class="form-control">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="sel1">Số tín chỉ:</label>
                      <select class="form-control" id="SoTinChi">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Số tiết lý thuyết:</label>
                      <select class="form-control" id="SoTietLythuyet">
                        <option>0</option>
                        <option>30</option>
                        <option>45</option>
                        <option>60</option>
                        <option>80</option>
                      </select>
                    </div>

                  </div>
                   <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Số tiết thực hành:</label>
                      <select class="form-control" id="SoTietThucHanh">
                        <option>0</option>
                        <option>30</option>
                        <option>45</option>
                        <option>60</option>
                        <option>80</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Ghi chú:</label>
                      <select class="form-control" id="GhiChu">
                        <option>Chung</option>
                        <option>Khác</option>
                      </select>
                    </div>
                  </div>
                  {{!-- <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Học Phần Bắt Buộc/Tự Chọn:</label>
                      <select class="form-control" id="sel1">
                        <option>Bắt buộc</option>
                        <option>Tự Chọn</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Mã Học Phần tiên quyết:</label>
                      <select class="form-control" id="sel1">
                        <option>123444556</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>

                  </div>
                   <div class="col-lg-4">
                    <div class="form-group">
                      <label for="sel1">Tên Học Phần Tiên Quyết:</label>
                      <select class="form-control" id="sel1">
                        <option></option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                    </div>
                  </div> --}}
                <div class="row">
                  <div class="col-lg-3">
                    <button onclick="ThemMonHoc(this)" class="btn btn-primary">THÊM</button>
                  </div>
                   <div class="col-lg-3">
                    <button type="button" class="btn btn-warning">CHỈNH SỬA</button>
                  </div>
                   <div class="col-lg-3">
                    <button type="button" class="btn btn-secondary">LÀM MỚI</button>
                  </div>
                </div>
              </form>
              </div>
          </div>
          <div id="menu1" class="container tab-pane active"><br />
            <form action="">
              <div class="card mb-4">
                <div class="card-header">
                  <i class="fas fa-table me-1"></i>
                 Danh Sách Môn Học
                </div>
                <div class="card-body">
                  <table class="table table-bordered" id="table_id">
                    <thead>
                      <tr>
                        <th>STT</th>
                        <th>Mã Môn Học</th>
                        <th>Tên Môn Học</th>
                        <th>Số Tiết</th>
                        <th>Số Tiết Lý Thuyết</th>
                        <th>Số Tiết Thực Hành</th>
                        <th>Tên Khoa/Viện</th>
                        <th>Tên Chuyên Ngành</th>
                        <th>Thao Tác</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each monhocs}}
                      <tr>
                        <td scope="row">{{sum @index 1}}</td>
                        <td>{{this.MaMonHoc}}</td>
                        <td>{{this.TenMonHoc}}</td>
                        <td>{{this.SoTiet}}</td>
                        <td>{{this.SoTietLyThuyet}}</td>
                        <td>{{this.SoTietThucHanh}}</td>
                        <td>{{this.TenKhoa}}</td>
                        <td>{{this.TenChuyenNganh}}</td>
                        <td colspan="2">
                          <a class="btn btn-success" href="/quanly-monhoc/edit/{{this.MaSinhVien}}">Chỉnh Sửa</a>
                          <a class="btn btn-danger"
                          href="/quanly-monhoc/delete?MaMonHoc={{this.MaMonHoc}}" onclick="return confirm ('Bạn có chắc muốn xóa không ?')">
                          Xóa</a>
                        </td>
                      </tr> 
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function () {
    // hiển thị thông tin về các khoa
    function loadKhoa() {
        $.ajax({
            url: '/quanly-monhoc/loadkhoa',
            type: 'get',
            dataType: 'json'
        }).done(function (result) {
            if (result.length > 0) {
                for (let i = 0; i < result.length; i++) {
                    let themKhoa = `
                            <option value = "`+ result[i].MaKhoa + `">` + result[i].TenKhoa + `</option>`;
                    $('#ChonKhoa').append(themKhoa);
                }
            }

        });
    }
    loadKhoa();

    // khi click chọn khoa sẽ hiển thị ra chuyên ngành tương ứng với khoa
    $('#ChonKhoa').change(function () {
        $("#ChonChuyenNganh").empty();
        let MaKhoa = $("#ChonKhoa").val();
        $.ajax({
            url: '/quanly-monhoc/loadchuyennganh/' + MaKhoa,
            type: 'get',
            dataType: 'json'
        }).done(function (result) {
            if (result.length > 0) {
                for (let i = 0; i < result.length; i++) {
                    let themChuyeNganh = `
                        <option value = "`+ result[i].MaChuyenNganh + `">` + result[i].TenChuyenNganh + `</option>`;
                    $('#ChonChuyenNganh').append(themChuyeNganh);
                }
            }

        });
    })

});
// them sinh vien moi
function ThemMonHoc() {
    debugger;
    var tenmonhoc = $('input[name="TenMonHoc"]').val();
    var sotinchi = $('#SoTinChi').val();
    var sotietlt = $('#SoTietLythuyet').val();
    var sotietth = $('#SoTietThucHanh').val();
    var ghichu = $('#GhiChu').val();
    var machuyennganh = $('#ChonChuyenNganh').val();

    $.ajax({
        url: '/quanly-monhoc/api',
        type: 'post',
        data:
        {
            tenmonhoc: tenmonhoc,
            sotinchi: sotinchi,
            sotietlt: sotietlt,
            sotietth: sotietth,
            ghichu: ghichu,
            machuyennganh: machuyennganh
        },
        dataType: 'json',
        success: function () {
            window.location.href = '/quanly-monhoc/'
        }
    });
}
</script>